In [2]:
import random
for i in range(100):
    print(random.randint(2,3), end=', ')

3, 2, 2, 2, 2, 3, 3, 3, 2, 3, 2, 2, 3, 2, 3, 2, 3, 2, 3, 3, 3, 3, 3, 2, 2, 2, 3, 2, 2, 3, 2, 3, 3, 2, 2, 2, 3, 3, 3, 3, 2, 2, 3, 2, 2, 3, 3, 2, 2, 3, 3, 3, 2, 2, 3, 2, 3, 2, 3, 2, 2, 3, 3, 2, 2, 3, 2, 3, 2, 2, 3, 2, 2, 2, 2, 2, 3, 2, 2, 2, 3, 3, 2, 2, 3, 3, 2, 3, 2, 2, 2, 2, 3, 3, 2, 3, 2, 3, 3, 3,

In [1]:
from functools import reduce, partial
from operator import mul

def fact(n):
    return reduce(mul, range(1, n+1))
fact(10)

3628800

In [29]:
from operator import itemgetter
metro_data = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]
for city in sorted(metro_data, key=itemgetter(1)):
    print(city)

('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833))
('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889))
('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
('Mexico City', 'MX', 20.142, (19.433333, -99.133333))
('New York-Newark', 'US', 20.104, (40.808611, -74.020386))

In [30]:
cc_name = itemgetter(1, 0)
for city in metro_data:
    print(cc_name(city))

('JP', 'Tokyo')
('IN', 'Delhi NCR')
('MX', 'Mexico City')
('US', 'New York-Newark')
('BR', 'Sao Paulo')

In [31]:
from collections import namedtuple
City = namedtuple('City', 'name country population coordinates')
City._fields

('name', 'country', 'population', 'coordinates')

In [32]:
LatLong = namedtuple('LatLong', 'lat long')
Metropolis = namedtuple('Metropolis', 'name cc pop coord')

In [33]:
metro_areas = [Metropolis(name, cc, pop, LatLong(lat, long)) for name, cc, pop, (lat, long) in metro_data]

In [20]:
metro_areas[0]

Metropolis(name='Tokyo', cc='JP', pop=36.933, coord=LatLong(lat=35.689722, long=139.691667))

In [ ]:
metro_areas[0].coord.lat

35.689722

In [38]:
from operator import attrgetter
name_lat = attrgetter('name', 'coord.lat')

for city in sorted(metro_areas, key=attrgetter('coord.lat')):
    print(name_lat(city))

('Sao Paulo', -23.547778)
('Mexico City', 19.433333)
('Delhi NCR', 28.613889)
('Tokyo', 35.689722)
('New York-Newark', 40.808611)

In [39]:
from operator import methodcaller
s = 'The time has come'
upcase = methodcaller('upper')
upcase(s)

'THE TIME HAS COME'

In [41]:
hiphenate = methodcaller('replace', ' ', '-')
hiphenate(s)

'The-time-has-come'

In [36]:
from array import array
from random import random

floats = array('d', (random() for i in range(10**7)))

In [37]:
floats[-1]

0.26571006476690595

In [5]:
fp = open('floats.bin', 'wb')
floats.tofile(fp)
fp.close()

In [7]:
floats = array('d')
fp = open('floats.bin', 'rb')
floats.fromfile(fp, 10**7)
fp.close()
floats[-1]

0.7588940909881057

In [8]:
from collections import deque

In [11]:
dp = deque(range(10), maxlen=10)
dp

deque([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [12]:
dp.rotate(3)
dp

deque([7, 8, 9, 0, 1, 2, 3, 4, 5, 6])

In [13]:
dp.rotate(-4)
dp

deque([1, 2, 3, 4, 5, 6, 7, 8, 9, 0])

In [14]:
dp.appendleft(-1)
dp

deque([-1, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [15]:
dp.extend([11, 22, 33])
dp

deque([3, 4, 5, 6, 7, 8, 9, 11, 22, 33])

In [16]:
dp.extendleft([10, 20, 30, 40])
dp

deque([40, 30, 20, 10, 3, 4, 5, 6, 7, 8])

In [3]:
triple = partial(mul, 3)
triple(7)

21

In [5]:
list(map(triple, range(1, 10)))

[3, 6, 9, 12, 15, 18, 21, 24, 27]